/* General stylings */
html {
	font-size: 100%;
}
body {
	background-image: url(bg-grad.png);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif, Microsoft YaHei;
	font-size: 1em;
}
div {
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}
a:visited {
    color: #0b0080;
}
a:active {
    color: #faa700;
}
a:hover {
    text-decoration: underline;
}

/* Header stylings */
#wiki-logo {
	position: absolute;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: center top;
	top: 14px;
	width: 100%;
	height: 80px;
	z-index: -10;
}
#wiki-title {
	background-image: url(head-grad.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	border-bottom: 2px solid #e9ebf2;
	margin: 0.4em auto 0.3em auto;
	width: 6.5em;
	text-align: center;
	line-height: 115%;
	font-size: 60px;
	font-family: Georgia, Microsoft YaHei, Times, serif;
	font-variant: small-caps;
	text-shadow: 1px 1px 1px #c4c6cc, 2px 2px 1px #e9ebf2;
	z-index: 0;
}

/* Language selection stylings... and maybe more */
#wiki-content {
	margin: 0 auto;
	padding: 0;
	min-width: 280px;
	max-width: 700px;
	width: 60%;
	height: 100%;
	list-style: none;
	text-align: center;
}
#wiki-content:after {
	visibility: hidden;
	display: block;
	height: 0;
	font-size: 0;
	content: " ";
	clear: both;
}
.wikiLang, .wikiLang a {
	display: block;
	margin: 0;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
.wikiLang {
	padding: 0;
	min-width: 140px;
	width: 50%;
	float: left;
}
.wikiLang.selected  {
	background-color: #f2f6ff;
}
.wikiLang.anchorFocus {
	background-color: #cbd7f7 !important;
	background-image: url(go.png);
	background-position: bottom right;
	background-repeat: no-repeat;
}
.wikiLang:hover, .wikiLang:focus{
	background-color: #dde6ff;
}
.wikiLang a {
	padding: .75em 0;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.wikiLang a:focus, .wikiLang a:hover {
	background-color: #dde6ff;
	color: #08005c;
}
.anchorFocus a {
	background-color: #cbd7f7 !important;
}
.wikiLang a .langName {
	font-size: larger;
	font-weight: bold;
}
.wikiLang a .articles {
	font-size: smaller;
}
.wikiLang:nth-child(3), .wikiLang:nth-child(6), .wikiLang:nth-child(9) {
	clear: both;
}

#tick-tock {
	margin-top: 1.5em;
	position: relative;
}
#tick-tock-stop {
	position: absolute;
	top: -1.75em;
	right: 0;
	padding: 0.25em;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.8);
	font-size: small;
	color: #fff;
	border: 1px solid #aaa;
	border-bottom: none;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	z-index: 10;
}
#tick-tock-stop:focus, #tick-tock-stop:hover {
	background-color: #666;
	background-color: rgba(102, 102, 102, 0.8);
	cursor: pointer;
}

/* Search bar stylings */
#search-container {
	margin: 1em auto 0.5em;
	max-width: 95%;
	width: 20em;
}
#search-container form {
	margin: 0;
	padding: 0;
}
#search-bar {
	position: relative;
	margin: 0;
	padding: 0;
	border: solid 1px #aaa;
	background-color: #fff;
	background-image: url(search-fade.png);
	background-position: top left;
	background-repeat: repeat-x;
}
#search-query, #search-languages {
	margin: 0;
	padding: 0.25em;
	border-width: 0;
	background-color: transparent;
	line-height: 1em;
}
#search-section-left {
	display: block;
	overflow: hidden;
	width: 66%;
}
#search-section-right {
	position: relative;
	float: right;
	width: 34%;
	font-size: 12px;
	height: 1.9em;
	border-left: 1px solid #ddd;
}
#search-query {
	width: 98%;
}
#search-language {
	cursor: default;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 1.7em;
	padding-right: 0.80em;
	padding-bottom: 0.35em;
	text-align: right;
	color: #999;
}
#search-button {
	position: absolute;
	top: 0;
	right: -0.1em;
	margin: 0;
	padding: 0;
	width: 2em;
	height: 1.7em;
	border: none;
	border-left: 1px solid #ddd;
	cursor: pointer;
	background-color: transparent;
}
#search-button div {
	margin: auto;
	width: 13px;
	height: 13px;
	background-color: transparent;
	background-image: url(search.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
#search-button div:hover, #search-button div:focus {
	background-position: 0px -13px;
}
#search-placeholder {
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
	padding-left: 0.25em;
	padding-bottom: 0.3em;
	font-size: 0.8em;
	color: #999;
	cursor: text;
	display: none;
}

/* Suggestion stylings */
#search-suggestions {
	display: none;
	position: absolute;
	margin-bottom: 1em;
	border: 1px solid #aaa;
	border-top-color: #fff;
	width: 90%;
	font-size: smaller;
}
.search-suggestion {
	padding: 0.2em;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}
.search-suggestion:hover, .search-suggestion:focus, .search-suggestion.selected {
	background-color: #dde6ff;
}
